h1{
  font-family: 'Acme', sans-serif;
}
h2{
font-family: 'Titillium Web', sans-serif;
}
h3{
  font-size: 30px;
  text-align: center;
  font-family: 'EB Garamond', serif;
}
.link{
  text-align: center;
}
.language{
  text-align: center;
}
.brief-description{
  text-align: center;
  font-size: 12px;
  margin: 20px;
  padding: 10px;
  background-color: #90f2e8;
}
.about{
  font-size: 20px;
  font-family: 'Charm', cursive;
}
.why{
  font-size: 20px;
  font-family: 'Charm', cursive;
}
.jumbotron{
  /*text-align: center;*/
}
.image-mj{
  float: right;
  margin: 25px;
}
.panel-heading{
  font-size: 17px;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  color: black;
}
.background-title{
  font-size: 25px;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  color: #007e72;
}
.interests .title{
  text-align: center;
}
.hobbies .title{
  text-align: center;
}
.skills .title{
  text-align: center;
}
.daily-activities-title{
  text-align: center;
}
.AM{
  font-size: 10px;
  color: #ff6a6a;
}
.morning{
  color: #ff6a6a;
}
.PM{
  font-size: 10px;
  color: #8a2be2;
}
.evening{
  color: #8a2be2;
}
#Panel_Image{
  align-items: center;
}

.panel-success > .panel-heading{
  background-color: #90f2e8;
}
.panel-info > .panel-heading{
  background-color: #d4bbdd;
}
.interests li{
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}
.hobbies li{
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}
.skills li{
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}
.daily-activities-title{
  font-size: 17px;
  font-family: 'Comfortaa', cursive;
}

.skills .daily li{
  font-size: 13px;
  font-family: 'Comfortaa', cursive;
}
